body {
  color: black;
  background-color: white;
  margin: 5% 5% 5% 5%
}

h1 {
  font: bold 200% sans-serif;
  color: black;
  border: #50ff50;
  border-style: solid;
  border-width: 0pt 0pt 10pt 0pt;
  padding: 0pt 0pt 0pt 5pt;
  margin: 5% 15% 5% 15%;
}

h2 {
  font: bold 200% sans-serif;
  color: black;
  border: #70ff70;
  border-style: solid;
  border-width: 0pt 0pt 7pt 0pt;
  padding: 0pt 0pt 0pt 5pt;
  margin: 5% 10% 5% 10%;
}

h3 {
  font: bold 200% sans-serif;
  color: black;
  border: #90ff90;
  border-style: solid;
  border-width: 0pt 0pt 5pt 0pt;
  padding: 0pt 0pt 0pt 5pt;
  margin: 5% 6% 5% 6%;
}

h4 {
  font: bold 200% sans-serif;
  color: black;
  border: #b0ffb0;
  border-style: solid;
  border-width: 0pt 0pt 3pt 0pt;
  padding: 0pt 0pt 0pt 5pt;
  margin: 5% 4% 5% 4%;
}

table {
  background-color: #ffc0c0;
}

pre {
  font-size: 120%;
  background-color: #eeffff;
  border-width: 1pt 1pt 1pt 1pt;
  border-style: solid;
  width: 90%;
  overflow: auto;
}

hr {
  color: green;
}

.author {
  font-style: italic;
  text-align: right;
}

.math {
  font-style: italic;
}

